*body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}
table {
  width: 100%;
  min-height: 100%;
  border: 1px solid black;
}
td {
  width: calc(100vw / 8);
  height: calc(100vh / 8);
  border: 1px solid black;
}

